/* contenedor principal y flecha */
/* body{
    background: #040c39;
} */
.contenedor {
    padding-top: 20px;
	width: 90%;
	margin: auto;
}
.contenedor-titulo-controles {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 20px;
    
}

.contenedor-titulo-controles h3{
    color: #fff;
    font-size: 30px;
}

.contenedor-titulo-controles .indicadores button{
    color: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.7); /* Añade una sombra blanca */

}

.contenedor-titulo-controles .indicadores button:hover, 
.contenedor-titulo-controles .indicadores button.activo {
background: red;
}
/* .peliculas-recomendadas {
    margin-bottom: 70px;
} */

.peliculas-recomendadas{
    background-color: #121212;
    width: 100%;
    margin: 0; /* Margen superior e inferior */
    padding: 0 25px; /* Padding en los laterales para crear espacio */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    
}

.peliculas-recomendadas .contenedor-principal {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 100%; /* Asegura que el contenedor se extienda al ancho completo */
    margin: 0 auto; /* Centra el contenido */
    padding: 0 10px; 
    padding-bottom: 20px;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha,
.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background: rgba(0,0,0, .9);
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
    left: 0;
}
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
    right: 0;
}

/* carousel*/
.peliculas-recomendadas .contenedor-carousel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth; /* Permite establecer el comportamiento del scroll*/
}

.peliculas-recomendadas .contenedor-carousel  .carousel{ 
    display: flex;
    flex-wrap: nowrap;

}

.peliculas-recomendadas .contenedor-carousel  .carousel .pelicula {
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0, .3);
    
} 

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel  .carousel .pelicula img {
    width: 100%;
    vertical-align: top;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.modal video {
    width: 100%;
    height: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
	}
}

