.swiper-slide {
  display: flex;
  justify-content: center;
}
section {
  padding-bottom: 160px;
  padding-top: 100px;
} 
section .container{
  border-bottom: 20px;
}
.card-item {
  border: 0.1em solid #fb7e02;
  border-radius: 2%;
  box-shadow: 0 3% 5% rgba(0, 0, 0, 0.1);
  padding: 5%;
  width: 85%;
  height: 85%;
  display: flex;
  position: relative;
  transition: transform 0.3s ease-in-out;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.card-item:hover {
  transform: scale(1.05);
}

.card-item img {
  width: 100%;
  /* height: 100%; */
  border-radius: 10%;
  margin-bottom: 5%;
}

.card-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.card-item .overlay p{
  color: white;
}
.card-item:hover .overlay {
  opacity: 1;
}

.card-item h2 {
  font-size: 1.5vw;
  text-align: center;
  color: aliceblue;
}

.card-item p {
  text-align: center;
  margin-bottom: 5%;
}

.btn {
  background-color: #fb7e02;
  border-color: brown;
}

/* Estilos para el botón de cerrar en la tarjeta */
/* .boton-cerrar {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #4658ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

/* Estilos para la tarjeta informativa */
/* .tarjeta-informativa {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
} */